<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      <br><br>
      <section class="section">
        <div class="sec1" *ngFor="let p of purchased">
          <h2>{{p.item}}</h2>
          <h4>{{p.category}}</h4>
          <h3>Quantity : {{p.counter}}</h3>
          <h4>Price : <strong>{{p.price }}</strong> <small> INR</small></h4>
        </div>
      </section>
</body>
</html>