*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  }

header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 30px 5%;
    flex-wrap: wrap;
}

.nav_link{
    list-style: none;
}

.nav_rightlink{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding :0px 29px; 
}

.nav_rightlink li{
    display: inline-block;
    padding: 0px 19px;
}

.nav_link li a{
    color: #0E0E52;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 28px;
}

.nav_rightlink li a{
    color: #0E0E52;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 28px;
}

.nav_link li a:hover{
    text-decoration: none;
    color: #0e0e52;
}

.nav_rightlink li a:hover{
    text-decoration: none;
    color: #0e0e52;
}

.nav_rightlink{
    margin-left: auto;
}

@media screen and (max-width:1024px){
    header{
        display: block;
        text-align: center;
    }
    .nav_link li{
        display: block;
        text-align: center;
        padding:10px 0px;
    }
    .logo,.nav_rightlink
    {
        padding:10px 0px;
    }

}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #0e0e52;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
  }

a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .search{
      height:40px;
      width:40%;
      border-radius:5px;
  }
  .header2{
      margin:5px 0px;
      margin-bottom:50px
  }
  /* ------------------------------------------------------------- */

  .img{
      height:300px;
      width:100%;
  }
 .container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
  .single{
      text-align: center;
      width:30%;
      margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    transform: scale(1);  
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    padding-bottom:0px;
  }
  .single:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

  .single h3{
      padding:10px
  }
  .single h2{
      padding:10px;
  }
  .single .btn{
      width:100%;
      border-radius: 10px;
      background-color:#39398f;
      color:white;
      font-size:16px;
      height:50px
  }
@media screen and (max-width:786px){
.container{
    justify-content: center;
    border:1px soild red;
    display: block;
    margin:auto;
    text-align: center;
    width:100%;

}
.single{
    justify-content: center;
    width: 100%;
}
.img{
    width:80%;
    padding-bottom:10px;
}
}
  /* ------------------------------------------ */
  